html {
    scroll-behavior: smooth;
    overflow: overlay;
    overflow-x: hidden;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    width: 100%;

}
.m-tb-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.m-tb-300 {
    margin-top: 300px;
    margin-bottom: 300px;
}

body {
    display: flex;
}

.text-white {
    color: white;
}

hr.dashed {
    border-top: 3px solid white;
    border-radius: 5px;
}
/* Profile stuff */
.profile-section {

}


@media only screen and (max-width: 320px) {
    /* styles for narrow screens */
    img {
        width: 200px;
        height: auto;
    }
    video {
        max-width: 100%;
        height: auto;
    }
}


/* Small (sm) 320px up */
@media only screen and (max-width: 320px) {
    .gradient-blue {
        background-size: 500% 200%;
        width: 100%;
    }
}


/*Medium (md) tablets 768px and up */
@media (min-width: 768px){ 

}

/* Large (lg) desktops 992px and up*/
@media (min-width: 992px){ 

}

/* Extra Large (xl) large desktops 1200px and up */
@media (min-width: 1200px){ 

    
}
.gradient-bg {
    background: repeating-linear-gradient(-45deg, #831f00, #e73c7e, #23a6d5, lightgreen);
    background-size: 500% 200%;
    background-repeat: repeat;
    animation: gradient 15s ease infinite; 
    height: auto;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    width: 100%;
    position: absolute;
    max-width: 100%;

}

.gradient-blue {
    background: repeating-linear-gradient(-45deg, #4fd6ff, #128bb8, #23a6d5, lightgreen);
    background-size: 500% 200%;
    background-repeat: repeat;
    animation: gradient 15s ease infinite; 
    height: auto;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    width: 100%;
    position: absolute;
    max-width: 100%;
}
.auto-ctr {
    margin: auto;
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s  infinite;
}
.center {
    text-align: center;

}

.dscrptn {
    font-size: 30px;
}

.about-text {
    font-weight: 200px;
    font-size: 1.2rem;
}

.filter {
    filter: brightness(50%);
}

.header {
    font-size: 100px;
    font-family: "Dosis";
    width: 100%;

}


/* Animation Moving Letters */
.animate1 { 
    font-weight: 200;
    font-size: 3.2em;
}

.project-header {
    font-weight: 100;
    font-size: 2.2em;
}

.animate1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    transform-origin: 100% 100%;
    bottom: 0;
}
.animate1  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.animate1  .letter {
    display: inline-block;
    line-height: 1em;
}

.animate2 {
    font-weight: 100;
    font-size: 2.2rem;
}
/* CSS for Forms */

.round-input {
    padding: 10px;
    border-radius: 10px;
}

/*  Image Hover CSS */
a:link {
    text-decoration: none;
    color: white;
}

.hover-shade {
    height: auto;
    width: auto;
    float: left;
    padding: 0;
    position: relative;
    background-color: black;
}

.hover-shade #myImg {
    padding: 0;
    display: block;
    opacity: 1;
}

.hover-shade #myImg2 {
    padding: 0;
    display: inline;
    opacity: 1;
}

.hover-shade #myImg, .hover-shade #myImg2, .centered {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

a.navbar-brand{
    font-family: 'Cookie', serif;
    font-size: 40px !important;
}

.trn {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0)) !important;
    z-index: 99;
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}


/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hover-shade:hover #myImg {
    opacity: 0.3;
}

.hover-shade:hover #myImg2 {
    opacity: 0.3;
}


.hover-shade:hover .centered { 
    visibility: visible;
    opacity: 1;
}



.fa {
    text-decoration: none;
}

.fade-in {
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 1s;
    
}

.fade-in-2 {
    opacity: 0;
    animation: fade-in 2s forwards;
    animation-delay: 3s;
}
.left-slide-in {
    opacity: 0;
    animation: left-slide-in 1s forwards;
    animation-delay: 3s
}
.right-slide-in {
    opacity: 0;
    animation: right-slide-in 1s forwards;
    animation-delay: 3s
}
.fade-slide-down {
    animation: fade-slide-down 1s forward;
    animation-delay: 3s;
}


#footer {
    position: absolute;
    bottom: 0;

}


.pop-in {
    animation: pop-in 1s ease-out forwards;
}

.wrapper {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
   
}

@keyframes fade-slide-down {
    0% {
        opacity: 0;
        transform: translateY(-6rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes right-slide-in {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
@keyframes left-slide-in {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}


::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: dimgray;
}

::-webkit-scrollbar-track {
    background: transparent;
}
